body {
	background-image: url('../backgrounds/brushed_alu.png');
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
}
body * {
	text-align: center;
}

@media (min-width: 980px) {

	body:nth-child(2){
		margin-top: 100px;
	}
}

h1 {
	color: #333;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #78EFED;
}

.navbar * {
	font-weight: bold;
}

.navbar a.brand:link, .navbar a.brand:visited {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #78EFED;
	font-weight: normal;
}

.navbar .nav > li > a  {
	color: white;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 10px;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #78EFED;
  -webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  		border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 5px;
}

.hero-unit {
	-webkit-box-shadow:3px 3px 5px 5px rgba(119, 119, 119, 0.2);
		-moz-box-shadow:	3px 3px 5px 5px rgba(119, 119, 119, 0.2);
			box-shadow:			3px 3px 5px 5px rgba(119, 119, 119, 0.2);
	background-color: #696370;
	opacity: 0.8;
}

.hero-unit * {
	color: #FFF;
	text-shadow: 0 0 5px #999;
	color: transparent;
}

.hero-unit.active * {
	text-shadow: none;
	color: #FFF;
	opacity: 1;
}

.hero-unit p {
	text-align: left;
}

.hero-unit h1, .hero-unit h2 {
	padding: 0;
	margin: 0;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

.hero-unit h1 {
	font-size: 80px;
}

.hero-unit h2 {
	font-size: 40px;
}

.hero-unit ul li{
	text-align: left;
}

footer {
	color: #666;
}

ul li{
	list-style-type: none;
}

.container > .container {
	margin-bottom: 80px;
}
