body {
	background-image: url('../backgrounds/brushed_alu.png');
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
}
body * {
	text-align: center;
}

@media (min-width: 980px) {

	body:nth-child(2){
		margin-top: 80px;
	}
}

h1 {
	color: #333;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul li {
	list-style-type: none;
}

.navbar * {
	font-weight: bold;
}

.navbar a.active, .navbar .nav a.active {
	cursor: default;
	color: #78EFED;
	text-shadow: -2px 2px 5px #333;
}

.navbar a.brand {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 150%;
	color: #78EFED;
	border-right: 1px solid #78EFED;
	border-left: 1px solid #78EFED;
}

.navbar a.brand.active {
	border-right: 1px solid #FF1769;
	border-left: 1px solid #FF1769;
}

.navbar a.brand:not('.active') {
	margin-left: -19px;
	margin-right: 1px;
}

.navbar .navbar-inner .nav a.active, .navbar .nav a.active:hover {
	color: #FF1769;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 10px;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #78EFED;
  -webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  		border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 5px;
}

.hero-unit {
	-webkit-box-shadow:-3px 3px 5px 5px rgba(188, 214, 48, 0.2);
		-moz-box-shadow:	-3px 3px 5px 5px rgba(188, 214, 48, 0.2);
			box-shadow:			-3px 3px 5px 5px rgba(188, 214, 48, 0.2);
	background-color: #696370;
}

.hero-unit.active {
	-webkit-box-shadow:-3px 3px 5px 5px rgba(188, 214, 48, 0.4);
		-moz-box-shadow:	-3px 3px 5px 5px rgba(188, 214, 48, 0.4);
			box-shadow:			-3px 3px 5px 5px rgba(188, 214, 48, 0.4);
}

.hero-unit:hover {
	cursor: default;
}

.hero-unit:hover:not(.active) {
	cursor: pointer;
}

.hero-unit *, .hero-unit a:link, .hero-unit a:hover {
	text-shadow: 0 0 5px #BBB;
	color: transparent;
	text-decoration: none;
}

.hero-unit.active em {
	color: white;
}

.hero-unit p, .hero-unit ul li, .hero-unit h1 {
	text-align: left;
	padding-bottom: 10px;
}

.hero-unit h1, .hero-unit h2 {
	display: block;
	padding-top: 0;
	margin-top: 0;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-shadow: 3px 3px 12px #BBB;
	color: #999;
}

.hero-unit h1 {
	font-size: 80px;
}

.hero-unit h2 {
	font-size: 40px;
}

.hero-unit.active h1, .hero-unit.active h2, .hero-unit.active p, .hero-unit.active a, .hero-unit.active ul li {
	color: #FFF;
	opacity: 1;
}

.hero-unit.active h1, .hero-unit.active h2 {
	color: #FF1769;
	text-shadow: 0 0 12px #000;
}

.hero-unit.active p, .hero-unit.active a, .hero-unit.active ul li {
	text-shadow: none;
}

.hero-unit.active a:hover {
	color: #78EFED;
}

.span12 .hero-unit, .span4 .hero-unit{
	height: 200px;
}

.span4 #three {
	height: 80px;
}

footer {
	color: #333;
}

.navbar-fixed-bottom {
	background-color: #FFF;
	margin-left: -30px;
	opacity: 0.5;
	color: #333
}

.navbar-fixed-bottom a {
	color: #78EFED;
}

.navbar-fixed-bottom .bland {
	color: #333;
}

.navbar-fixed-bottom .bland:hover {
	color: #FF1769;
}

.navbar-fixed-bottom li a:hover {
	color: #BCD630;
}

.container > .container {
	margin-bottom: 40px;
}